"*":
  core:
    audioBeep: false
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/home/dan/work/atom"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 18
    invisibles: {}
    lineHeight: 1
    showIndentGuide: true
  "exception-reporting":
    userId: "3d4eea3d-6513-e09b-0068-da7b82f6c5cf"
  welcome:
    showOnStartup: false
